--extra-index-url https://download.pytorch.org/whl/cu116
# -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

pip
cython

tqdm
pandas
scikit-learn
scikit-image
matplotlib
seaborn

aiohttp
aiodns
cchardet
protobuf<3.21
requests
websockets

msgpack
pyyaml
thop

hypercorn
fastapi
pydantic

torch
torchaudio
torchvision

# paddlepaddle-gpu

onnx
# onnxruntime-gpu

pillow
numpy
scipy
opencv-python
opencv-contrib-python
