--extra-index-url https://download.pytorch.org/whl/cu113
-f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

pip
cython

numpy
scipy
opencv-python
opencv-contrib-python
scikit-learn
scikit-image
matplotlib
seaborn

aiohttp
aiodns
cchardet
protobuf<3.21
requests
websockets

msgpack
pyyaml

hypercorn
fastapi
pydantic

torch
torchvision
